@model project2BurgerMenu.entityes.subscribers

<div class="form-group">
    <h2 class="site-heading-2">Bültenİmİze Abone Olun</h2>

    @Html.TextBoxFor(x => x.email, new { @class = "form-control" })
</div>

<button class="btn btn-info">Abone Ol</button>
