
<div class="col-md-4 site-animate">
    <p><img src="images/about_img_1.jpg" alt="" class="img-fluid"></p>
    <p class="text-black">
        Adres: <br> @ViewBag.address  <br>
        Telefon: <br> @ViewBag.phonenumber <br> <br>
        Email Adresi: <br> <a href="mailto:info@yoursite.com">@ViewBag.email</a>
    </p>

</div>
