<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
        <div class="user-image">
            
            <img src="~/img/online-learning-vector-icon-design-illustration_1174953-17394.png">
        </div>
        <div class="user-name">
           Meryem Sudem Hösek
        </div>
        <div class="user-designation">
            Elektrik-Elektronik Mühendisi
        </div>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard/Index">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/category/categorylist">
                <i class="icon-file menu-icon"></i>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/product/productlist">
                <i class="icon-pie-graph menu-icon"></i>
                <span class="menu-title">Ürünler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/reservation/reservationlist">
                <i class="icon-command menu-icon"></i>
                <span class="menu-title">Rezervasyonlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/message/inbox">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/about/list">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Hakkımızda</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/Newcontact/Inbox">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">İletişim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/statistics/Index">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/charts/Index">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Grafikler</span>
            </a>
        <li class="nav-item">
            <a class="nav-link" href="/admin/subscribers/Index">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Aboneler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/card/Index">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Kredi Kartı</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>
