@model project2BurgerMenu.entityes.Admin
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <div class="alert alert-info">Admin Giriş Sayfası</div>
    <form method="post">
        <label> Kullanıcı Adınız</label>
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
        <br />
        <label> Kullanıcı Şifreniz</label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Giriş Yap</button>
    </form>
</div>
